/* .body {
background-color: #293F50;
font-family: 'Lato', sans-serif  "Open Sans", "Helvetica Neue", Helvetica, Arial;
} */
h1
h2
h3
h4{
    color: #648880;
}
.banner{
    display: flex;
    justify-content: space-around;
    background-color: #293f50;
}
.styles{
    border-top: solid #648880;
    font-size: 3em;
    letter-spacing: .5px;
    line-height: 90%;
    padding: 10% 0 2% 0;
    margin-bottom: 22px;
    color: white;
    width: 7em;
    text-decoration: none;
    }
a > .styles:hover{
    color: #648880;
}

.navbar {
    padding-top: 2.5em;
}
.menu{
    color: white;
    font-weight: bold;
    padding-right: 2em;
    font-size: 1em;
}
.menu:hover{
    color: #648880;
}
/* .menu:visited{
    color:#648880;
} */
.datee {
   font-size: 120%;
   color: #648880; 
   margin-left: 3em;
   padding-top: 15%;
}
.section1 {
    /* background:-o-linear-gradient(to right); */
    background: #a1d3b0;
     text-align: center;
     padding: 5% 22% 4% 22%;
     color: #648880;
     /* font-weight: 100; */
     font-size: 100%;
    }
    .viewMap {
        display: flex;
        background-color: white;
        flex-direction: column;
        padding: 8% 5% 8% 5%;
      }
    .chicagoTheatre {
        /* float: right; */
        margin-left: 50%;
        padding-bottom: 1%;
        color: #648880;
    }
    .seasons {
        /* float: right; */
        margin-left: 50%;
        padding-bottom: 1%;
        color: #648880;
    }
    .map-google {
        color: #648880;
        width: 3%;
    }
    .map-google-1 {
        color: #648880;
        width: 3%;
    }
    .fourSeason{
        background-color: white;
    }
    .h4 {
        font-size: 200%;
        margin-left: 15%;
        /* margin-bottom: 3%; */
        color: #648880;
    }
    .space {
      margin-left: 15%;
      padding-bottom: 2%;
      color: #648880;
    }
    .hot {
      margin-left: 15%;
      color: #648880;
    }
    .num {
      margin-left: 15%;
      color: #648880;
    }
    .foot{
      background-color: #293f50;
      display: flex;
      justify-content: space-between;
      padding: 3% 15%;
  }
  .copy{
      color: #648880;
      font-size: 0.9em;
      font-weight: bold;
  }
  .menu-2{
      color: white;
      font-size: 0.8em;
      margin-right: 5em;
  }
  .menu-2:hover{
      color:#648880;
  }
  @media (max-width:500px){
      .banner{
          flex-direction: column;
      }
      .container-1{
          flex-direction: column;
      }
      .container-2{
          flex-direction: column;
      }
      .foot{
          flex-direction: column;
      }
  }
  