body{
   background: #293f50;
   color: #888888;
   font-family: Lato, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 22px;
}
.banner{
    
}