* {
    padding: 0;
    margin: 0;
}
.body {
background-color: #293F50;
font-family: 'Lato', sans-serif  "Open Sans", "Helvetica Neue", Helvetica, Arial;
}
.banner {
  color: #ffffff;
  padding: 0% 20% 5% 16.5%;
}
.styles {
  padding: 10% 0% 10% 0%;
  float: left;
  font-weight: 400;
  font-size: 300%;
  line-height: 90%;
  
}
.date {
padding: 13% 0% 3.5%;
text-align: right;
font-size: 200%;
font-weight: 500;
color:#648880;
}
.menu {
margin-right: 5%;
display: inline-flex;
text-align: right;
}
.section1 {
background:-o-linear-gradient(to right);
background: #a1d3b0;
 text-align: center;
 padding: 5% 22% 4% 22%;
 color: #648880;
}
.purchase {
  display: flex;
  background-color: #ffffff;
  color: #648880;
  font-weight: 500;
  font-size: 108%;
  padding-bottom: 15%;
  font-style: 80%;
}
.pass {
  padding:8% 10% 4% 10% ;
  font-weight: 300;
}
.con {
  padding-bottom: 3%;
}
.per {
padding-bottom: 5%;
}
.brief {
  padding-bottom: 3%;
}
.why {
  padding-bottom: 4%;
}
.input {
  display: flex;
  padding-top: 8%;
}
.block {
  display: block;
  width: 95%;
  height: 10%;
  ;
  margin-bottom: 15%;
}
.com {
  margin-top: 3%;
}
.chase {
  margin-top: 10%;
  margin-bottom: 10%;
  color: white;
  font-weight: 500;
  background-color: #293F50;
  width: 55%;
  line-height: 250%;
  border-radius: 8%;
}
.copyright {
  padding: 10% 0% 10% 0%;
  float: left;
  font-weight: 400;
  font-size: 300%;
  line-height: 50%;
}